.news {
    max-width: 550px;
    padding: 1em;
}

.subsection p {
    padding-top: 1em;
}

#om_oss, #partnere {
     background-color: var(--background-color);
 }

 main {
     padding-top: 0 !important;
 }

 section {
     margin-bottom: 0;
     padding-bottom: 1em;
     padding-top: 1em;
     clear: both;
 }

/* Global CSS variables */
:root {
  --spacing-company: 2rem;
  --font-weight: 400;
  --border-radius: 0;
}

/* Typography */
h2, h3, hgroup > :last-child {
  font-weight: 200;
  font-size: 2em;
  margin-bottom: 0.5em;
}

small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-color: #394046;
  background-image: url("img/papaioannou-kostas-tysecUm5HJA-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

.subsection {
     clear: both;
}

